<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %relative %-5level [%thread] %logger{5}.%method %line - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="org.eclipse.jetty" level="ERROR"/>
    <logger name="org.glassfish.jersey.media.sse" level="TRACE"/>
</configuration>